footer {
  border-top: 1px solid #000;
  margin-top: 3rem;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: aliceblue;
}

.foot {
  font-weight: 500;
}

.footertitle {
  font-weight: bold;
}


@media (max-width: 576px) {
  footer p {
    font-size: 0.8rem;
  }
}